.news-wall {
    background-color: var(--primary-color);
    padding: 10px 0;
    position: relative;
    z-index: 1001;
    /* Ensure it stays above everything */
    color: var(--bg-dark);
}

.news-container {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.news-item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 700;
}

.news-item i {
    font-size: 1.2rem;
}